.ajaxpages span {
    border-bottom: 1px dashed #0c4da2;
    background: #899cc7;
    padding: 10px 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
.catalog .catalogmenu{
	border-top: 1px solid #E5E5E5;
	
}
.catalog .catalogmenu li{
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}
.catalog .prods .sectinfo{
	width:100%;
	padding-bottom:20px;
	padding-top:20px;
	border-top:1px solid #E5E5E5;
	margin-top: 20px;
	border-left:0;
}
.catalog .prods .sectinfo .img,
.catalog .prods .sectinfo .description{
	/* float:left; */
}
.catalog .prods .sectinfo .img{
	/* width:20%;
	padding:0px 15px 15px 15px; */
}
.catalog .prods .sectinfo .description{
	/* width:80%; */
	font-family: Opensans;
	font-size: 16px;
	font-size: 1.23077em;
	line-height: 1.4;
}
.catalog .prods .sectinfo .description p {
	margin-bottom: 10px;
	margin-bottom: 0.76923077em;
}

@media screen and (max-width:605px){
	body.adaptive .catalog .prods .sectinfo{
		display:none;
	}
}