.basketinhead{
	text-align:left;
}
.basketinhead a,
.basketinhead a:hover{
	display:block;
	color:#000;
	text-decoration:none;
}
.basketinhead a .title{
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.basketinhead a:hover .title{
	text-decoration:none;
	color: #f96901;
	border-bottom: 1px solid  rgba(247, 105, 2, 0.2);
}

.basketinhead .icon{
	display:block;
	float:left;
	margin-top:0;
	margin-right:10px;
	width: 29px;
	height: 25px;
	background-position: -1px -1px;
}
.basketinhead a:hover .icon{
	background-position: -1px -28px;
}
.basketinhead .descr{
	font-size: 11px;
	line-height: 16px;
	margin-top: 2px;
}
.basketinhead .title,
.basketinhead .descr{
	/*margin-left:47px;*/
}