div.empty {width:1px; height:1px; overflow:hidden;}

/*Top panel*/
div.bx-top-panel {width:100%; background-color:#A4A4A4; background-image:url(public/panel_new/panel_bg.png); background-repeat:repeat-x; font-size:medium !important; line-height:normal !important;}
div.bx-top-panel table, div.bx-top-panel td, div.bx-top-panel tbody, div.bx-top-panel tr {width:auto !important; text-align: left !important; vertical-align: middle !important; font-family:Verdana,Arial,sans-serif !important; background:transparent !important; font-size:medium !important; line-height:normal !important; height:auto !important; font-weight: normal !important;padding:0px !important; margin:0px !important; border:none !important; border-spacing:0 !important; table-layout: auto !important; text-align:left !important; text-decoration: none !important; font-variant: normal !important; font-style:normal !important; letter-spacing:normal !important; word-spacing:normal !important; text-indent:0 !important; overflow:visible !important; color:black !important;}
div.bx-top-panel a {text-decoration:none !important; color:black !important; font-weight: normal !important;}
div.bx-top-panel div.bx-panel-left {height:10px !important; width:5px !important; overflow:hidden; background-image:url(public/panel_new/left.gif); background-position:left top; background-repeat:no-repeat;}
div.bx-top-panel table.bx-panel-container{width:100% !important; background: transparent url(public/panel_new/buttons_bg.png) left 26px repeat-x !important; background-color:#E1DED9 !important;}
div.bx-top-panel div.bx-panel-empty{height:2px;width:1px;overflow:hidden;}

/*Top panel buttons*/
div.bx-top-panel div.bx-panel-buttons {font-family:Tahoma,Verdana,Arial; font-size:11px; color:black; margin-bottom:3px;}
div.bx-top-panel div.bx-pnseparator {float:left; height:21px; width:2px; margin:5px 5px 2px 5px; overflow:hidden; background-image:url(public/panel_new/separator.gif); background-repeat:repeat-y;}
div.bx-top-panel div.bx-pnbutton {float:left; padding-top:3px;}
div.bx-top-panel table.bx-pnbutton {cursor:pointer !important; cursor:hand !important;}
div.bx-top-panel table.bx-pnbutton td {padding:0px !important; height:25px !important; background-position:0 0 !important; background-repeat:no-repeat !important;}
div.bx-top-panel table.bx-pnbutton div.bx-button {height:24px;}
div.bx-top-panel table.bx-pnbutton div.bx-button-text {padding:5px 3px 0px 0px; font-family:Tahoma,Verdana,Arial; font-size:11px; color:#2B2928; white-space:nowrap;}
div.bx-top-panel table.bx-pnbutton div.bx-pnicon {padding-left:20px; background-position:0px 3px; background-repeat:no-repeat;}
div.bx-top-panel table.bx-pnbutton td.bx-left {background-image:url(public/panel_new/buttons/normal/left.gif) !important;}
div.bx-top-panel table.bx-pnbutton td.bx-center {padding:0px; background-image:url(public/panel_new/buttons/normal/main.gif) !important; background-repeat:repeat-x !important;}
div.bx-top-panel table.bx-pnbutton td.bx-right {background-image:url(public/panel_new/buttons/normal/right.gif) !important;}
div.bx-top-panel table.bx-pnbutton td.bx-arrow {background-image:url(public/panel_new/buttons/normal/arrow_2.gif) !important;}
div.bx-top-panel table.bx-pnbutton td.bx-arrow-separate {background-image:url(public/panel_new/buttons/normal/arrow.gif) !important;}
div.bx-top-panel table.bx-pnbutton-over td.bx-left {background-image:url(public/panel_new/buttons/over/left.gif) !important;}
div.bx-top-panel table.bx-pnbutton-over td.bx-center {background-image:url(public/panel_new/buttons/over/main.gif) !important;}
div.bx-top-panel table.bx-pnbutton-over td.bx-right {background-image:url(public/panel_new/buttons/over/right.gif) !important;}
div.bx-top-panel table.bx-pnbutton-over td.bx-arrow {background-image:url(public/panel_new/buttons/over/arrow_2.gif) !important;}
div.bx-top-panel table.bx-pnbutton-over td.bx-arrow-separate {background-image:url(public/panel_new/buttons/over/arrow.gif) !important;}
div.bx-top-panel table.pressed td.bx-left {background-image:url(public/panel_new/buttons/push/left.gif) !important;}
div.bx-top-panel table.pressed td.bx-center {background-image:url(public/panel_new/buttons/push/main.gif) !important;}
div.bx-top-panel table.pressed td.bx-right {background-image:url(public/panel_new/buttons/push/right.gif) !important;}
div.bx-top-panel table.pressed td.bx-arrow {background-image:url(public/panel_new/buttons/push/arrow_2.gif) !important;}
div.bx-top-panel table.pressed td.bx-arrow-separate {background-image:url(public/panel_new/buttons/push/arrow.gif) !important;}
div.bx-top-panel table.bx-pnbutton td.pressed {background-image:url(public/panel_new/buttons/push/arrow.gif) !important;}
div.bx-top-panel table.bx-pnbutton td.bx-left div.empty {width:4px !important;}
div.bx-top-panel table.bx-pnbutton td.bx-right div.empty {width:5px !important;}
div.bx-top-panel table.bx-pnbutton td.bx-arrow div.empty {width:10px !important;}
div.bx-top-panel table.bx-pnbutton td.bx-arrow-separate div.empty {width:14px !important;}
div.bx-top-panel div.panel-tooltip {font-family:Verdana,Arial,sans-serif; font-size:11px; position:absolute; z-index:1000; margin-top:26px; width:230px; background-color:#FEFDEA; border:1px solid black; padding:5px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
div.bx-top-panel a.panel-tooltip-close{display:block; width:13px; height:13px; background-image:url(images/panel/close.gif); background-repeat:no-repeat; float:right; margin:0px 0px 5px 5px;}
div.panel-tooltip a, div.panel-tooltip a:visited {color:#2747BF !important;}
div.panel-tooltip a:hover, div.panel-tooltip a:active {color:red !important; text-decoration:underline !important;}

/*icons*/
div.bx-top-panel table.bx-pnbutton div.icon-create {background-image:url(public/panel_new/buttons/create.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-edit {background-image:url(public/panel_new/buttons/edit.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-access {background-image:url(public/panel_new/buttons/access.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-delete {background-image:url(public/panel_new/buttons/delete.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-components {background-image:url(public/components/buttons2/parameters.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-cache {background-image:url(public/panel_new/buttons/cache.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-debug {background-image:url(public/panel_new/buttons/debug.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-menu {background-image:url(public/panel_new/buttons/menu.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-template {background-image:url(public/panel_new/buttons/template.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-user {background-image:url(public/panel_new/buttons/user.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-key {background-image:url(public/panel_new/buttons/key.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-structure {background-image:url(public/panel_new/buttons/structure.gif)}
div.bx-top-panel table.bx-pnbutton div.icon-update {background-image:url(public/panel_new/buttons/update.gif)}

/*free space bar*/
div.bx-top-panel table.free-space-bar {width:80px !important; height:11px !important; border-spacing:1px !important;}
div.bx-top-panel div.free-space-bar {padding-top:6px;}
div.bx-top-panel table.free-space-bar {border:1px solid #AAAAAA !important;}
div.bx-top-panel table.free-space-bar td.bx-panel-used {background-color:#EB8200 !important; padding:0px !important;}
div.bx-top-panel table.free-space-bar td.bx-panel-free {background-color:#2EC62F !important; padding:0px !important;}

/*Start button*/
div.bx-top-panel div.bx-start-button {width:49px; height:48px; background-image:url(public/panel_new/start_button/normal.png); background-repeat:no-repeat; margin-top:5px; cursor:pointer; cursor:hand; }
div.bx-top-panel div.start-over {background-image:url(public/panel_new/start_button/over.png);}
div.bx-top-panel div.pressed {background-image:url(public/panel_new/start_button/pressed.png);}
div.bx-top-panel td.bx-tabs-cell, div.bx-top-panel td.bx-button-cell {vertical-align:top !important; background-image:url(public/panel_new/panel_bg.png) !important; background-repeat:repeat-x !important; background-position:0 -2px !important;}
div.bx-top-panel td.bx-button-cell {width:0% !important;}
div.bx-top-panel td.bx-tabs-cell {width:100% !important;}

/*Fix panel link*/
div.bx-top-panel a.fix-link {display:block; float:right; width:20px; height:20px; margin-right:5px; background-repeat:no-repeat;}
div.bx-top-panel a.fix-on {background-image:url(public/panel_new/knob_off.gif);}
div.bx-top-panel a.fix-off {background-image:url(public/panel_new/knob_on.gif);}

/*Splitter*/
div.bx-top-panel table.splitter, div.bx-top-panel table.splitter td {width:100% !important; height:7px !important; background-image:url(public/panel_new/slider_bg.png) !important; background-position:left top !important; background-repeat:repeat-x !important; border:0 !important; padding:0 !important; text-align:center !important; vertical-align: baseline !important;}
div.bx-top-panel table.splitter a.splitterknob {margin:0 auto; display:block; width:70px; height:7px; background-image:url(public/panel_new/arr_up.png); background-position:left top; background-repeat:no-repeat; overflow:hidden;}
div.bx-top-panel table.splitter a.splitterknob:hover {background-image:url(public/panel_new/arr_up_over.png);}
div.bx-top-panel table.splitter a.splitterknobdown {background-image:url(public/panel_new/arr_down.png);}
div.bx-top-panel table.splitter a.splitterknobdown:hover {background-image:url(public/panel_new/arr_down_over.png);}

/*Tabs*/
div.bx-panel-tab {cursor:pointer; cursor: hand; background-color:#E9E6E2; float:left; height:26px; background-image:url(public/panel_new/tabs/bottom_bg.gif); background-position:left bottom; background-repeat:repeat-x;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
div.bx-panel-tab-active {cursor:default; background-image:url(public/panel_new/tabs/bottom_bg_active.gif);}
div.bx-panel-tab div {float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:24px;}
div.bx-panel-tab div.bx-panel-caption {padding:6px 0px 0px 5px; height:auto; font-family:Verdana,Arial,sans-serif; font-size:11px; color:#2B2928; line-height:normal; font-weight:normal;}
div.bx-panel-tab div.bx-tab-active div.bx-panel-caption {padding-top:5px;}
div.bx-panel-tab br {clear:both;}

div.bx-panel-tab div.bx-tab-left {width:24px; background-image:url(public/panel_new/tabs/left_inactive_prev_inactive.png);}
div.bx-panel-tab div.bx-tab-left-first {background-image:url(public/panel_new/tabs/left_inactive_first.png);}
div.bx-panel-tab div.bx-tab-left-active {background-image:url(public/panel_new/tabs/left_active.png);}
div.bx-panel-tab div.bx-tab-left-prev-active {background-image:url(public/panel_new/tabs/left_inactive_prev_active.png);}
div.bx-panel-tab div.bx-tab {background-image:url(public/panel_new/tabs/bg_inactive.png);}
div.bx-panel-tab div.bx-tab-active {background-image:url(public/panel_new/tabs/bg_active.png);}
div.bx-panel-tab div.bx-tab-right {width:14px; background-image:url(public/panel_new/tabs/right_inactive_next_inactive.png);}
div.bx-panel-tab div.bx-tab-right-next-active {background-image:url(public/panel_new/tabs/right_inactive_next_active.png);}
div.bx-panel-tab div.bx-tab-right-active {background-image:url(public/panel_new/tabs/right_active.png);}
div.bx-panel-tab div.bx-tab-bottom {width:3px; height:2px; overflow:hidden;}
div.bx-panel-tab div.bx-tab-bottom-active {background-image:url(public/panel_new/tabs/bottom_left_active.gif)}
div.bx-panel-tab div.bx-tab-bottom-first {background-image:url(public/panel_new/tabs/bottom_left_first.gif)}
div.bx-panel-tab div.bx-tab-bottom-first-active {background-image:url(public/panel_new/tabs/bottom_left_first_act.gif)}
div.bx-panel-tab div.bx-tab-bottom-prev-active {width:5px; background-image:url(public/panel_new/tabs/bottom_left.gif)}

/*admin tab*/
div.bx-panel-tab-admin div.bx-tab-left {background-image:url(public/panel_new/tabs/left_admin.png);}
div.bx-panel-tab-admin div.bx-tab-left-prev-active {background-image:url(public/panel_new/tabs/left_admin_prev_active.png);}
div.bx-panel-tab-admin div.bx-tab {background-image:url(public/panel_new/tabs/bg_admin.png);}
div.bx-panel-tab-admin div.bx-tab-right {width:17px; background-image:url(public/panel_new/tabs/right_admin.png);}

/*Tab icons*/
div.bx-panel-tab div.bx-tab-icon{width:23px; height:23px; background-position:5px 4px; background-repeat:no-repeat;}
div.bx-panel-tab div.bx-tab-left-active div.bx-tab-icon {background-position:5px 3px;}
div.bx-panel-tab div.bx-tab-icon-view{background-image:url(public/panel_new/icons/view.gif);}
div.bx-panel-tab div.bx-tab-icon-edit{background-image:url(public/panel_new/icons/edit.gif);}
div.bx-panel-tab div.bx-tab-icon-configure{background-image:url(public/panel_new/icons/settings.gif);}
div.bx-panel-tab div.bx-tab-icon-admin{background-image:url(public/panel_new/icons/admin.png);}

/*Component edit form*/

div.bx-popup-form {background:#D5DAE9 url(public/popup/top_gradient_bg.gif) 0 20px repeat-x; border:1px solid #ABB7D8; width:612px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; text-align: left;}

div.bx-popup-content td, div.bx-popup-content table, div.bx-popup-content tr, div.bx-popup-content tbody, div.bx-popup-title td, div.bx-popup-title table, div.bx-popup-title tr, div.bx-popup-title tbody,

div.bx-popup-form table, div.bx-popup-form div, div.bx-popup-form p {letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; font-family:Verdana,Arial,sans-serif !important; font-size:11px !important; color:black !important; line-height:normal !important; font-weight:normal !important;}
div.bx-popup-form p {text-align:left !important;}
div.bx-popup-form form {margin:0px !important; padding:0px !important;}
div.bx-popup-form div.bx-popup-icon {float:right; margin:4px !important;}
div.bx-popup-form div.bx-popup-description {overflow: hidden; width:100%; letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; text-align:left !important;}
div.bx-popup-form div.bx-popup-description-container {margin:5px; border:1px solid #B8C1DD; background: #f4f6fb url(public/popup/top_gradient.gif) bottom repeat-x;}
div.bx-popup-form div.bx-popup-description p {margin:5px !important; text-decoration:none !important; font-size:100% !important; font-weight:normal !important; line-height:normal !important; white-space:normal !important;}
div.bx-popup-form div.bx-popup-description p.note {color:#787878;}
div.bx-popup-form div.bx-popup-description p.note a {color:#787878; text-decoration:none; font-size:100%; font-weight:normal; line-height:normal;}
div.bx-popup-form div.bx-popup-description p.note a:hover {color:#787878; text-decoration:underline;}
div.bx-popup-form div.bx-popup-content, div.bx-popup-form div.bx-content-editor {margin:5px; padding-top:5px !important;background-color:white; border:1px solid #B8C1DD;height:280px; overflow:auto;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
div.bx-popup-form div.bx-popup-content-container {margin:0 5px; height:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
div.bx-popup-form div.bx-popup-content td {font-size:11px !important; padding:3px 3px 4px 0px !important; line-height:normal !important; font-weight:normal !important;}
div.bx-popup-content td {background-image:url(public/dot_hor.gif) /*!important*/; background-position:left bottom /*!important*/; background-repeat:repeat-x /*!important*/;}
div.bx-popup-form div.bx-popup-content tr.empty td {background-image:none !important; padding:1px !important;}
div.bx-popup-form div.bx-popup-content tr.section td {background-image:none !important; background-color:#ededed !important;padding:3px !important;}
div.bx-popup-form div.bx-popup-content tr.section table td {padding:0px !important;}
div.bx-popup-form div.bx-popup-content input, div.bx-popup-form div.content select {font-family:Verdana,Arial,helvetica,sans-serif; font-size:11px !important; margin:0 !important; padding:1px !important; color:black !important;}
div.bx-popup-form div.bx-popup-content td.bx-popup-label {text-align:right !important;}
div.bx-popup-form .bx-width30 {width:30% !important;}
div.bx-popup-form .bx-width50 {width:50% !important;}
div.bx-popup-form .bx-width100 {width:100% !important;}
div.bx-popup-form .bx-width0 {width:0% !important;}

div.bx-popup-form div.bx-popup-buttons {letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; text-align:center !important; padding:10px; overflow: hidden; white-space: nowrap; background:#D5DAE9 url(public/popup/bottom_gradient.gif) bottom repeat-x;}
div.bx-popup-form div.bx-popup-title {background-color:#23468A; background-image:url(images/calendar/title_bg.gif); background-repeat:repeat-x; background-position:left top;}
div.bx-popup-form div.bx-popup-title td.bx-title-text {font-size:11px !important; font-weight:bold !important; color:#EEF1F7 !important; padding:3px !important; cursor:move !important; vertical-align:top !important; overflow: hidden !important; white-space: nowrap !important; line-height:normal !important; }
div.bx-popup-form a.bx-popup-close {display:block; width:13px; height:13px; background-image:url(images/calendar/close.gif); overflow:hidden; margin:3px; background-repeat:no-repeat; background-position:top left;}
div.bx-popup-form a.bx-popup-sign {display:block; width:11px; height:11px; overflow:hidden; margin-right:3px; background-repeat:no-repeat; background-position:top left;}
div.bx-popup-form a.bx-popup-minus {background-image:url(public/components/form/minus.gif);}
div.bx-popup-form a.bx-popup-plus {background-image:url(public/components/form/plus.gif);}
div.bx-popup-form a {color:#486FE1; text-decoration:underline; font-size:100%; font-weight:normal; line-height:normal;}
div.bx-popup-form .edit-field {background-image:url(public/popup/pencil.gif);}
div.bx-popup-form .edit-field-active {border-color: #434B50 #ADC0CF #ADC0CF #434B50 !important;}
div.bx-popup-form table.extended {background-color: #EAEAEA !important; width:100% !important; border-collapse: collapse !important;}
div.bx-popup-form table.extended td {padding: 2px !important; background: none !important;}

div.bx-popup-form div.bx-menu-current-row {background-color: #EAF8DF !important;}
div.bx-popup-form div.view-area {white-space: nowrap; overflow: hidden; width: 220px; padding: 2px; display: block; cursor: text; -moz-box-sizing: border-box; -webkit-box-sizing:border-box; background-position: right center; background-repeat: no-repeat; border: 1px solid white;}
div.bx-popup-form div.bx-menu-current-row div.edit-field {border: 1px solid #EAF8DF !important; background-color: #EAF8DF !important;}
div.bx-popup-form div.bx-menu-current-row div.edit-field-active {border-color: #434B50 #ADC0CF #ADC0CF #434B50 !important; background-color: white !important;}

div.bx-popup-form table table td {border-top: none !important; border-bottom: none !important;}
div.bx-popup-form div.bxresizer {cursor: se-resize; background-image: url(public/popup/resizer.gif); height: 20px; width: 20px; bottom: 0px; right: 0px; background-repeat:no-repeat;}

/* Wait window */
iframe.waitwindow {position:absolute; border:0px; z-index:9999;}
div.waitwindow {position:absolute; width:170px; padding:10px; background-color:#FCF7D1; border:1px solid #E1B52D; text-align:center !important; z-index:10000; font-size:11px; background-image:url(images/wait.gif); background-position:10px center; background-repeat:no-repeat; font-family:Verdana,Arial,sans-serif; color:black;line-height:normal; font-weight:normal;letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important;}

/*Overlay*/
div.bx-popup-overlay {top:0; left:0; width:100%; height:100%; position: absolute; z-index: 1010; background-color: #333; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
div.bx-current-mirror { position: absolute; z-index: 9999999; overflow: hidden; background-color: #D0D0FF; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); }

/*Popup icons*/
div.bx-create-new-page {background:url(public/popup/new_page.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-create-new-folder {background:url(public/popup/new_folder.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-property-page {background:url(public/popup/property_page.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-property-folder {background:url(public/popup/property_folder.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-access-page {background:url(public/popup/access_page.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-edit-menu {background:url(public/popup/edit_menu.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-access-folder {background:url(public/popup/access_folder.gif) center 50% no-repeat; /*width:33px; height:31px;*/}
div.bx-delete-page {background:url(public/popup/delete_page.gif) center 50% no-repeat;/* width:33px; height:31px;*/}
div.bx-debug-info {background:url(public/popup/debug_info.gif) center 50% no-repeat; width:33px; height:31px; float:right; margin:4px;}
div.bx-structure {background:url(public/popup/structure.gif) center 50% no-repeat;/* width:33px; height:31px;*/}


/*Core popup icons*/
div.bx-core-edit-menu {background-image:url(public/popup/edit_menu.gif);}
div.bx-core-debug-info{background-image:url(public/popup/debug_info.gif);}


/*Hint window*/
div.bxhint {font-size:11px; font-family: Tahoma, Arial, Verdana, Sans-Serif; color:black; padding:5px; background-color: #ffffce; border:1px solid black; overflow: visible; line-height:normal; font-weight:normal; letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; text-align:left !important;}
div.bxhint td {font-size:11px; font-family: Tahoma, Arial, Verdana, Sans-Serif; color:black; padding:2px;}
div.bxhint td.bx-grey {color:#747474;}
div.bxhinticon {width:0%;height:0%;}

table.internal .rowcontrol {display:block; width:16px; height:16px; overflow:hidden; margin-right:3px; margin-top:11px; background-repeat:no-repeat; background-position:top left;}
table.internal .expand {background-image:url(images/menu/expand.gif); cursor:pointer; cursor:hand;}
table.internal .unexpand {background-image:url(images/menu/unexpand.gif); cursor:pointer; cursor:hand;}
table.internal .up {background-image:url(images/menu/up.gif); cursor:pointer; cursor:hand;}
table.internal .down {background-image:url(images/menu/down.gif); cursor:pointer; cursor:hand;}
table.internal .delete {background-image:url(images/menu/delete.gif); cursor:pointer; cursor:hand;}
table.internal .folder {background-image:url(images/menu/folder.gif); cursor:pointer; cursor:hand;}
table.internal .drag {background-image:url(images/menu/drag.gif); cursor: move;}

/*Component border*/
div.bx-component-border {position:relative;width:100%; /*width:auto;*/ padding:1px;}
div.bx-component-border-over {border:1px dashed #FF8000; padding:0px; z-index:1;}

div.bx-component-debug {border:1px solid red; font-family:Verdana,Arial; font-size:10px; color:black; background-color:white; margin:0px; padding:2px; font-weight:normal;line-height:normal; text-align:left; background-image:none;}
div.bx-component-debug a, div.bx-component-debug a:visited {color:blue; text-decoration:none;}
div.bx-component-debug a:hover {color:red; text-decoration:underline}
div.bx-debug-summary {margin:5px; width:300px; font-size:11px; padding:5px;line-height:normal; font-weight:normal; position:fixed; bottom:10px; left:10px; z-index:900; opacity: 0.4;}
div.bx-debug-summary:hover {opacity: 1;}

/*Component panel*/
div.bx-component-panel {position:absolute; z-index:2; top:-26px; left:-1px; padding:0px; margin:1px;}
div.bx-component-border-over div.bx-component-panel {margin:0px;}
div.bx-component-panel td, div.bx-component-panel table, div.bx-component-panel tr, div.bx-component-panel tbody {font-size:medium !important; padding:0px !important; margin:0px !important; height:25px !important; border:none !important; vertical-align:middle !important; background-color:transparent !important; background-position:0 0 !important; width:auto !important; table-layout:auto !important; border-spacing:0 !important;}
div.bx-component-panel td.bx-panel-left {width:11px !important; cursor:move !important; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/bitrix/themes/.default/public/components/panel/begin.png') !important;}
div.bx-component-panel td.bx-panel-left[class] {background-image:url(public/components/panel/begin.png) !important; }
div.bx-component-panel td.bx-panel-left div {width:11px !important;}
div.bx-component-panel td.bx-panel-right {width:2px !important; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/bitrix/themes/.default/public/components/panel/end.png') !important;}
div.bx-component-panel td.bx-panel-right[class] {background-image:url(public/components/panel/end.png) !important;}
div.bx-component-panel td.bx-panel-middle {width:auto !important; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/bitrix/themes/.default/public/components/panel/fill.png') !important;}
div.bx-component-panel td.bx-panel-middle[class] {background-image:url(public/components/panel/fill.png) !important; background-repeat:repeat-x !important;}
div.bx-component-panel td.bx-panel-middle div.bx-panel-left {width:2px;}
div.bx-component-panel td.bx-panel-middle div.bx-panel-right {width:5px;}
div.bx-component-panel td.bx-panel-middle div.bx-panel-separator {border-left:1px solid #AFAFAF; border-right:1px solid #FEFEFE; width:2px; height:15px; margin:0px 2px 0px 2px; overflow:hidden;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/*Component panel buttons*/
div.bx-component-panel div.bx-panel-icon-cont {margin:1px; border:0px; background-color:transparent; cursor:pointer; cursor: hand;}
div.bx-component-panel div.bx-panel-icon-cont-hover {margin:0px; border:0px; cursor:pointer; cursor: hand; background-color:#C4D0DD; border:1px solid #949696;}
div.bx-component-panel div.bx-panel-icon {width:27px; height:19px; background-position:2px 1px; background-repeat:no-repeat; overflow:hidden;}
div.bx-component-panel div.parameters-all {background-image:url(public/components/icons/general.gif);}
div.bx-component-panel div.edit-icon {background-image:url(public/components/icons/edit.gif);}
div.bx-component-panel div.configure-icon {background-image:url(public/components/icons/configure.gif);}
div.bx-component-panel div.pressed {width:27px; height:19px; margin:0px; border:1px solid #828484; background-color:#95ACCA;}

/* Popup menu */
div.bx-popup-menu td, div.bx-popup-menu table, div.bx-popup-menu tr, div.bx-popup-menu tbody {color:black !important; border:none !important; border-spacing:0 !important; background:transparent !important; width:auto !important; font-weight:normal !important; letter-spacing:normal !important; font-variant:normal !important;font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; vertical-align:middle !important; white-space:normal !important; letter-spacing:0 !important;text-decoration: none !important;table-layout:auto !important; text-align:left !important; padding:0px !important; margin:0px !important; height:auto !important; line-height:normal !important; font-size:medium !important;}
div.bx-popup-menu td.popupmenu {border:1px solid #B6B6B6 !important; padding:1px !important; background:#FCFCFC url(images/menu_gutter.gif) repeat-y !important; width:100% !important;}
td.popupmenu div.popupitem table{width:100% !important;}
td.popupmenu div.popupitem {margin:1px; cursor:default;}
td.popupmenu div.popupitemover {margin:0px; border:1px solid #AEB6C2; background-color:#CEDAEE !important;}
td.popupmenu div.popupitem td.gutter {width:22px !important;}
td.popupmenu div.popupitem td.arrow {width:10px !important; background:transparent url(images/menu_arrow.gif) 2px center no-repeat !important;}
td.popupmenu div.popupitem td.item {padding:3px 7px 3px 9px !important; font-family:Verdana,Arial,sans-serif; font-size:11px !important; white-space:nowrap !important; color:black !important; line-height:normal !important; font-weight:normal !important;}
td.popupmenu div.popupitem td.default {font-weight:bold !important; line-height:normal !important;}
td.popupmenu div.popupitem td.disabled {color:#939393 !important;}
td.popupmenu div.popupseparator {margin:1px 0px 1px 30px; background-color:#B6B6B6; height:1px; overflow:hidden;}
td.popupmenu div.popupitem div.icon {width:22px; height:20px; background-position:center; background-repeat:no-repeat;}

/* Popup menu tags */
td.popupmenu table.popupitem{width:100% !important; margin:1px !important; cursor:default !important;}
td.popupmenu table.popupitemover{border:1px solid #AEB6C2 !important; margin:0px !important; background-color:#CEDAEE !important;}
td.popupmenu table.popupitem td.gutter {width:20px !important; height: 20px !important; }
td.popupmenu table.popupitem td.gutter div{width:20px; height:100%; background-position:0 0;}
td.popupmenu table.popupitem td.item {padding:3px 5px 3px 9px !important; font-family:Verdana,Arial,sans-serif !important; font-size:11px !important; white-space: nowrap !important; line-height:normal !important; font-weight:normal !important;}

/*menu icons*/
td.popupmenu div.popupitem .checked {background-image:url(images/checkbox.gif);}
td.popupmenu div.popupitem .favorites {background-image:url(start_menu/main/favorite.gif);}
td.popupmenu div.popupitemover .favorites {background-image:url(start_menu/main/favorite_over.gif);}
td.popupmenu div.popupitem .loading {background-image:url(start_menu/main/loading.gif);}
td.popupmenu div.popupitemover .loading {background-image:url(start_menu/main/loading_over.gif);}

td.popupmenu div.popupitem .button_content {background-image:url(start_menu/main/content.gif);}
td.popupmenu div.popupitemover .button_content {background-image:url(start_menu/main/content_over.gif);}
td.popupmenu div.popupitem .button_services {background-image:url(start_menu/main/services.gif);}
td.popupmenu div.popupitemover .button_services {background-image:url(start_menu/main/services_over.gif);}
td.popupmenu div.popupitem .button_store {background-image:url(start_menu/main/store.gif);}
td.popupmenu div.popupitemover .button_store {background-image:url(start_menu/main/store_over.gif);}
td.popupmenu div.popupitem .button_statistics {background-image:url(start_menu/main/statistics.gif);}
td.popupmenu div.popupitemover .button_statistics {background-image:url(start_menu/main/statistics_over.gif);}
td.popupmenu div.popupitem .button_settings {background-image:url(start_menu/main/settings.gif);}
td.popupmenu div.popupitemover .button_settings {background-image:url(start_menu/main/settings_over.gif);}

td.popupmenu div.popupitem .user_menu_icon {background-image:url(start_menu/main/user.gif);}
td.popupmenu div.popupitemover .user_menu_icon {background-image:url(start_menu/main/user_over.gif);}
td.popupmenu div.popupitem .sys_menu_icon {background-image:url(start_menu/main/sys.gif);}
td.popupmenu div.popupitemover .sys_menu_icon {background-image:url(start_menu/main/sys_over.gif);}
td.popupmenu div.popupitem .util_menu_icon {background-image:url(start_menu/main/tools.gif);}
td.popupmenu div.popupitemover .util_menu_icon {background-image:url(start_menu/main/tools_over.gif);}
td.popupmenu div.popupitem .update_menu_icon {background-image:url(start_menu/main/update.gif);}
td.popupmenu div.popupitem .update_menu_icon_partner {background-image:url(start_menu/main/update_partner.gif);}
td.popupmenu div.popupitemover .update_menu_icon {background-image:url(start_menu/main/update_over.gif);}
td.popupmenu div.popupitemover .update_menu_icon_partner {background-image:url(start_menu/main/update_over_partner.gif);}
td.popupmenu div.popupitem .fav_menu_icon {background-image:url(start_menu/main/favorite.gif);}
td.popupmenu div.popupitemover .fav_menu_icon {background-image:url(start_menu/main/favorite_over.gif);}
td.popupmenu div.popupitem .rating_menu_icon {background-image:url(icons/main/mnu_rating.gif);}
td.popupmenu div.popupitemover .rating_menu_icon {background-image:url(icons/main/mnu_rating.gif);}

td.popupmenu div.popupitem .update_marketplace {background-image:url(start_menu/main/marketplace.gif);}
td.popupmenu div.popupitem .update_marketplace_modules {background-image:url(start_menu/main/marketplace_modules.gif);}

/*component menu icons */
td.popupmenu div.popupitem .parameters {background-image:url(public/components/buttons/parameters.gif);}
td.popupmenu div.popupitem .edit {background-image:url(public/components/buttons/edit.gif);}
td.popupmenu div.popupitem .copy {background-image:url(public/components/buttons/copy.gif);}
td.popupmenu div.popupitem .edit-common {background-image:url(public/components/buttons/edit_common.gif);}
td.popupmenu div.popupitem .edit-wf {background-image:url(public/components/buttons/edit_wf.gif);}
td.popupmenu div.popupitem .menu-edit {background-image:url(public/components/buttons/menu_edit.gif);}
td.popupmenu div.popupitem .menu-template {background-image:url(public/components/buttons/menu_templ.gif);}
td.popupmenu div.popupitem .nav-template {background-image:url(public/components/buttons/nav_templ.gif);}
td.popupmenu div.popupitem .parameters-2 {background-image:url(public/components/buttons2/parameters.gif);}
td.popupmenu div.popupitem .edit-2 {background-image:url(public/components/buttons2/edit.gif);}
td.popupmenu div.popupitem .edit-css {background-image:url(public/components/buttons2/edit_css.gif);}
td.popupmenu div.popupitem .copy-2 {background-image:url(public/components/buttons2/copy.gif);}
td.popupmenu div.popupitem .del-cache {background-image:url(public/components/buttons2/delcache.gif);}

/*panel menu icons */
td.popupmenu div.popupitem .panel-new-file {background-image:url(public/panel_new/menus/new_file.gif);}
td.popupmenu div.popupitem .panel-new-file-template {background-image:url(public/panel_new/menus/create_template.gif);}
td.popupmenu div.popupitem .panel-new-folder {background-image:url(public/panel_new/menus/new_folder.gif);}
td.popupmenu div.popupitem .panel-new-folder-template {background-image:url(public/panel_new/menus/create_folder_template.gif);}
td.popupmenu div.popupitem .panel-edit-visual {background-image:url(public/panel_new/menus/edit_html.gif);}
td.popupmenu div.popupitem .panel-edit-text {background-image:url(public/panel_new/menus/edit_text.gif);}
td.popupmenu div.popupitem .panel-edit-php {background-image:url(public/panel_new/menus/edit_php.gif);}
td.popupmenu div.popupitem .panel-file-props {background-image:url(public/panel_new/menus/file_props.gif);}
td.popupmenu div.popupitem .panel-folder-props {background-image:url(public/panel_new/menus/folder_props.gif);}
td.popupmenu div.popupitem .panel-file-access {background-image:url(public/panel_new/menus/file_access.gif);}
td.popupmenu div.popupitem .panel-folder-access {background-image:url(public/panel_new/menus/folder_access.gif);}
td.popupmenu div.popupitem .panel-file-delete {background-image:url(public/panel_new/menus/delete_file.gif);}
td.popupmenu div.popupitem .panel-folder-delete {background-image:url(public/panel_new/menus/delete_folder.gif);}
td.popupmenu div.popupitem .panel-page-cache {background-image:url(public/panel_new/menus/page_cache.gif);}
td.popupmenu div.popupitem .panel-comp-cache {background-image:url(public/panel_new/menus/comp_cache.gif);}
td.popupmenu div.popupitem .panel-key {background-image:url(public/panel_new/menus/key.gif);}
td.popupmenu div.popupitem .panel-user {background-image:url(public/panel_new/menus/user.gif);}

/* Edit form*/
div.bx-content-editor td, div.bx-content-editor tr, div.bx-content-editor table, div.bx-content-editor tbody,
.bx_popup_frame td, .bx_popup_frame table, .bx_popup_frame tr, .bx_popup_frame tbody,
.bx_ed_context_menu td, .bx_ed_context_menu tr, .bx_ed_context_menu table, .bx_ed_context_menu tbody,
table.edit-form td, table.edit-form tr, table.edit-form table, table.edit-form tbody,
div.editor_dialog td
{margin:0px !important; padding:0px !important; /*height:auto; width:auto; border: none; background:transparent;text-align:left !important*/ text-decoration:none !important; font-family:Verdana,Arial,sans-serif !important; font-size:medium /*!important*/; color:black !important; line-height:normal !important; font-weight:normal !important; letter-spacing:normal !important; font-variant:normal !important;font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; vertical-align:middle !important; border-spacing:0 !important;table-layout:auto !important; white-space:normal !important; }


div.edit-form {margin:16px 0px 16px 0px;}
table.edit-form td {background-color:#E7EAF5 !important;}
table.edit-form tr.top td {border-top:1px solid #ABB6D7 !important;}
table.edit-form td.left {border-left:1px solid #ABB6D7 !important;}
table.edit-form td.right {border-right:1px solid #ABB6D7 !important;}
table.edit-form tr.top td.left {border:0px !important; background-image:url(images/edit/lt.gif) !important; height:2px !important; width:2px !important;}
table.edit-form tr.top td.right {border:0px !important; background-image:url(images/edit/rt.gif) !important; height:2px !important; width:2px !important;}
table.edit-form tr.bottom td {border-bottom:1px solid #ABB6D7 !important;}
table.edit-form tr.bottom td.left {border:0px !important; background-image:url(images/edit/lb.gif) !important; height:2px !important; width:2px !important;}
table.edit-form tr.bottom td.right {border:0px !important; background-image:url(images/edit/rb.gif); height:2px !important; width:2px !important;}
table.edit-form td.content {padding:7px 2px 2px 2px !important;}
table.edit-form div.buttons {margin-top:4px; padding:5px; background-color:#F8F9FC; background-image:url(images/edit/buttons_bg.gif); border:1px solid #CED6EC;}

/* Tab inside edit form */
table.edit-tab {border:1px solid #B8C1DD !important; border-top:none !important; width:100% !important;}
table.edit-tab td {background-color:#F8F9FC !important; padding:0px 0px 2px 0px !important;}

/* Tab controls*/
table.edit-tabs table {font-size:11px !important; font-weight:bold !important; color:#555556; line-height:normal !important;}
table.edit-tabs td {white-space:nowrap !important; border-bottom:1px solid #B8C1DD !important; padding:0px !important;}
table.edit-tabs td.tab-container {border:none !important; cursor:pointer !important; cursor: hand !important;}
table.edit-tabs td.tab-container-selected, table.edit-tabs td.tab-container-disabled {border:none !important; cursor:default !important;}
table.edit-tabs td.tab-container-disabled table {color:#A2A09F !important;}
table.edit-tabs td.tab-indent div.empty {width:6px; height:21px;}
table.edit-tabs td.tab-left div.empty {width:2px; height:21px; background-image:url(images/edit/tab_l.gif);}
table.edit-tabs td.tab-right div.empty {width:8px; height:21px; background-image:url(images/edit/tab_r.gif);}
table.edit-tabs td.tab-right-last div.empty {width:10px; height:21px; background-image:url(images/edit/tab_r_last.gif);}
table.edit-tabs td.tab {vertical-align:middle !important; padding:0px 4px 0px 5px !important; height:21px !important; background-image:url(images/edit/tab_bg.gif) !important;}
table.edit-tabs td.tab-left-selected, table.edit-tabs td.tab-selected, table.edit-tabs td.tab-right-selected, table.edit-tabs td.tab-right-last-selected {border:none !important;}
table.edit-tabs td.tab-left-selected div.empty {width:2px !important; height:22px !important; background-image:url(images/edit/tab_l_sel.gif) !important;}
table.edit-tabs td.tab-right-selected div.empty {width:8px !important; height:22px !important; background-image:url(images/edit/tab_r_sel.gif) !important;}
table.edit-tabs td.tab-right-last-selected div.empty {width:10px !important; height:22px !important; background-image:url(images/edit/tab_r_last_sel.gif) !important;}
table.edit-tabs td.tab-selected {vertical-align:middle !important; padding:0px 4px 0px 5px !important; height:22px !important; background-image:url(images/edit/tab_bg_sel.gif) !important;}
table.edit-tabs td.tab-left-hover div.empty {width:2px; height:21px; background-image:url(images/edit/tab_l_hov.gif);}
table.edit-tabs td.tab-right-hover div.empty {width:8px; height:21px; background-image:url(images/edit/tab_r_hov.gif);}
table.edit-tabs td.tab-right-last-hover div.empty {width:10px; height:21px; background-image:url(images/edit/tab_r_last_hov.gif);}
table.edit-tabs td.tab-hover {vertical-align:middle !important; padding: 0px 4px 0px 5px !important; height:21px !important; background-image:url(images/edit/tab_bg_hov.gif) !important;}
table.edit-tabs a.context-button {display:block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background-repeat:no-repeat; background-position:3px 3px; height:18px; width:18px; border:0px; margin:1px;}
table.edit-tabs a.context-button:hover {width:20px; height:20px; margin:0px; border:1px solid #AEB6C2; background-color:#DBE3F2;}
table.edit-tabs a.down {background-image:url(images/filter/show.gif); }
table.edit-tabs a.up {background-image:url(images/filter/hide.gif); }

div.editor_dialog {background-color:#F4F4F4; border:1px solid #A9A9A9;}
div.editor_dialog td {padding:0px !important; font-size:11px !important; line-height:normal !important; font-weight:normal !important; color:black !important; text-decoration:none !important;}
div.editor_dialog div.content {height:100%; overflow:hidden;}
/*title*/
div.editor_dialog div.title {background-color:#23468A; background-image:url(images/fileman/editor_dialog/title_bg.gif); background-repeat:repeat-x; background-position:left top; border-bottom:1px solid #A9A9A9;}
div.editor_dialog div.title td.title-text {font-size:11px !important; font-weight:bold !important; color:#EEF1F7 !important; padding:3px !important; cursor:move !important; vertical-align:top !important; line-height:normal !important;}
div.editor_dialog a.close {display:block; width:13px; height:13px; background-image:url(images/fileman/editor_dialog/close.gif); overflow:hidden; margin:3px; background-repeat:no-repeat; background-position:center;}
tr.heading_dialog td {color:#525355 !important; text-align:center !important; font-weight:bold !important; background-color:#E0E4F1 !important; line-height:normal !important;}
table.dialogprops tr td {padding: 5px 0px 5px 0px !important;}


/* Authorization form */
form.bx-admin-auth-form {height:100%;}
div.bx-auth-form {margin:0; padding:8px 0; width:100%; height:100%; background-color:#F9FAFD; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
div.bx-auth-form div.bx-auth-header {font-weight:bold; padding:0px 3px 8px 3px; margin:0px; background-image:url(images/dots_auth.gif); background-position:left bottom; background-repeat:repeat-x; line-height:normal;}
div.bx-auth-form div.bx-auth-footer {padding:4px 3px 0px 3px; margin:0px; background-image:url(images/dots_auth.gif); background-position:left top; background-repeat:repeat-x;}
div.bx-auth-form div.bx-auth-footer p {margin:6px 0px 0px 0px;}
div.bx-auth-form div.bx-auth-picture {float:left; width:105px; height:120px; margin:0px; background-image:url(images/auth_pict.gif); background-position:center; background-repeat:no-repeat;}
div.bx-auth-form div.bx-auth-table {float:left; margin:20px 10px 20px 10px;}
div.bx-auth-form td {padding:3px;}
div.bx-auth-form td.bx-auth-label {text-align:right;}
div.bx-auth-form label.bx-label {color:#3E65B2;}
div.bx-auth-form input.bx-auth-input-text {width:150px;}

/*Error text*/
font.errortext {color:red !important;}

/* Structure dialog */
div.bx-struct-item {clear:both; border:1px solid #F5F9F9;}
div.bx-struct-plus {width:16px; height:16px; background-image:url(images/signplus.gif); background-repeat:no-repeat; background-position:center; cursor:pointer; cursor:hand; float:left;}
div.bx-struct-minus {width:16px; height:16px; background-image:url(images/signminus.gif); background-repeat:no-repeat; background-position:center; cursor:pointer; cursor:hand; float:left;}
div.bx-struct-dot {width:16px; height:16px; background-image:url(images/signdot.gif); background-repeat:no-repeat; background-position:center; float:left;}
div.bx-struct-name {float:left; padding:2px; padding-right:11px; border:1px solid #F5F9F9; cursor:pointer; cursor:hand;}
div.bx-struct-name-over, div.bx-struct-item div.pressed {border:1px solid #B8C1DD; background-color:#E3E7F1; background-image:url(public/structure/arr_down.gif); background-position:right center; background-repeat:no-repeat;}
div.bx-struct-item div.pressed {background-color:#CEDAEE;}
div.bx-struct-sub {margin-left:18px; clear:both;}
div.bx-struct-dir {width:16px; height:16px; margin:0px 2px 0px 2px; background-image:url(public/structure/folder.gif); background-repeat:no-repeat; background-position:left center; float:left; cursor:move;}
div.bx-struct-file {width:34px; height:16px; margin:0px 2px 0px 0px; background-image:url(public/structure/file.gif); background-repeat:no-repeat; background-position:18px center; float:left; cursor:move;}
div.bx-struct-settings {border:1px solid #B8C1DD; margin:3px; padding:3px 11px 3px 3px; float:left; cursor:pointer; background-image:url(public/structure/arr_down.gif); background-position:right center; background-repeat:no-repeat;}
div.bx-struct-button {padding-right:3px; background-image:none;}
div.bx-struct-settings-over {background-color:#E1E6F0;}
div.bx-struct-name-drag {background-color:#D3D3D3; border:1px solid #BBBBBB;}
div.bx-struct-drag {padding:3px; background-color:#D6DCEB; font-family:Verdana,Arial,sans-serif !important; font-size:11px !important; color:black !important; opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}
div.bx-struct-dragover {background-color:#D3D3D3; border:1px solid #BBBBBB; background-image:none; cursor:move;}

/*file types*/
div.bx-struct-type-css {background-image:url(/bitrix/images/fileman/types/css.gif);}
div.bx-struct-type-htaccess {background-image:url(/bitrix/images/fileman/types/htaccess.gif);}
div.bx-struct-type-html {background-image:url(/bitrix/images/fileman/types/html.gif);}
div.bx-struct-type-png {background-image:url(/bitrix/images/fileman/types/png.gif);}
div.bx-struct-type-gif {background-image:url(/bitrix/images/fileman/types/gif.gif);}
div.bx-struct-type-jpeg {background-image:url(/bitrix/images/fileman/types/jpeg.gif);}
div.bx-struct-type-js {background-image:url(/bitrix/images/fileman/types/js.gif);}
div.bx-struct-type-php {background-image:url(/bitrix/images/fileman/types/php.gif);}
div.bx-struct-type-txt {background-image:url(/bitrix/images/fileman/types/txt.gif);}
div.bx-struct-type-xml {background-image:url(/bitrix/images/fileman/types/xml.gif);}
div.bx-struct-type-csv {background-image:url(/bitrix/images/fileman/types/csv.gif);}
div.bx-struct-type-flash {background-image:url(/bitrix/images/fileman/types/flash.gif);}
div.bx-struct-type-file {background-image:url(/bitrix/images/fileman/types/file.gif);}

/* Notes */
div.notes {margin-top:16px; margin-bottom:16px;}
div.edit-form div.notes {margin:4px 0px 4px 0px;}
table.notes td {padding:0px; background-color:#FEFDEA; font-size:11px; color:#333333; background-image:none; width:0px;}
table.notes tr.top td {border-top:1px solid #D7D6BA;}
table.notes td.left {border-left:1px solid #D7D6BA;}
table.notes td.right {border-right:1px solid #D7D6BA;}
table.notes tr.top td.left {border:0px; background-image:url(images/notes/lt.gif); height:2px; width:2px;}
table.notes tr.top td.right {border:0px; background-image:url(images/notes/rt.gif); height:2px; width:2px;}
table.notes tr.bottom td {border-bottom:1px solid #D7D6BA;}
table.notes tr.bottom td.left {border:0px; background-image:url(images/notes/lb.gif); height:2px; width:2px;}
table.notes tr.bottom td.right {border:0px; background-image:url(images/notes/rb.gif); height:2px; width:2px;}
table.notes td.content {padding:7px; width:100%;}
div.notes div.ruler {border-top:1px solid #D7D6BA; margin-top:8px;}
div.notes p {font-size:100%; margin:12px 0px 12px 0px;}
div.notes a.control {text-decoration:none; color:black;}
div.notes a.control:hover {text-decoration:underline;}

/* Linked icon in "new page" and "new section" wizards*/
img.bxfm-linked, img.bxfm-unlinked{border-width: 0!important; cursor:pointer!important; height:21px!important; margin:0 0 -5px!important;width:12px!important; padding:0!important;}
img.bxfm-linked{background: url(/bitrix/themes/.default/icons/fileman/link.gif) no-repeat transparent center center!important;}
img.bxfm-unlinked{background: url(/bitrix/themes/.default/icons/fileman/unlink.gif) no-repeat transparent center center!important;}


/* bootstrap fixes */
.adm-workarea * {
     box-sizing:     content-box; 
    -moz-box-sizing: content-box;
     -webkit-box-sizing: content-box; 
}
.adm-workarea .adm-select,
.adm-workarea .form-button,
.adm-workarea .adm-btn,
.adm-workarea input[type=button], 
.adm-workarea input[type=submit], 
.adm-workarea input[type=reset], 
.adm-workarea input[type=file]::-webkit-file-upload-button, 
.adm-workarea button, 
.adm-workarea select, 
.adm-workarea textarea { 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
.adm-workarea .adm-btn:hover,
.adm-workarea input[type="button"]:hover,
.adm-workarea input[type="reset"]:hover,
.adm-workarea input[type="submit"]:hover {
    text-decoration: none;
}
.adm-workarea label { 
    font-weight: normal; 
    margin-bottom: 0px; 
}