.footersubscribe .title{
	margin-bottom:6px;
	text-transform:uppercase;
}
.footersubscribe .text{
	font-size: 13px;
	margin-top: 13px;
	line-height: 16px;
}
#footersubscribe .inp input{
	width:100%;
	padding:9px;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	font-size: 14px;
	font-family: Opensans, Arial, Helvetica, sans-serif;
}

#footersubscribe  input:-moz-placeholder {
	color: #adadad;
	opacity: 1
}

#footersubscribe input::-moz-placeholder {
	color: #adadad;
	opacity: 1
}

#footersubscribe input:-ms-input-placeholder {
	color: #adadad
}

#footersubscribe input::-webkit-input-placeholder {
	color: #adadad;
	font-size: 14px;
	font-family: Opensans, Arial, Helvetica, sans-serif;
}
#footersubscribe input.placeholder {
	color: #adadad
}


.footersubscribe a.btn1{
	display:block;
	margin-top:10px;
	text-align:center;
}