.table .full.name,
.price.new,
.table .full.name,
.aroundjssorslider1 .tmsg .title2{color:#4c6ca5 !important;}
.presscentermainn .item .blockname a ,
.presscentermainn .item a.blockname,
.catalogmenu2 a.sub{color:#fed75e !important;}
.body a,
.footer a,
.fancybox-wrap a{color:#000000;}
.mainsections a.parent,
.brandslist .item span,
.sorter_and_name .name,
.brandslist.mainstyles .title a,
.mods h3.title2,
.bigdata h3.title2,
.detailtabs .contents .content .switcher,
.sections a.parent{color:#36acd4;}
@media screen and (max-width:480px){html body.adaptive .detailtabs .contents .content .switcher{color:#36acd4;}
html body.adaptive .detailtabs .contents .content.selected .switcher,
html body.adaptive .detailtabs .content .switcher:active{color:#fff;}
}
.fancybox-inner input[type="text"]:focus,.fancybox-inner input[type="password"]:focus,.fancybox-inner textarea:focus,.fancybox-inner select:focus,
.body input[type="text"]:focus, .body input[type="password"]:focus, .body textarea:focus, .body select:focus, .footer input[type="text"]:focus, .footer input[type="password"]:focus, .footer textarea:focus, .footer select:focus, .fancybox-inner input[type="text"]:focus, .fancybox-inner input[type="password"]:focus, .fancybox-inner textarea:focus, .fancybox-inner select:focus,
.profillist .item:hover,
.set .js-element:hover,
.light .js-element:hover,
.picslider .scrollinner a.selected{border-color:#54bdd2 !important;}
a.btn1,
.body input[type="submit"],
.body input[type="button"],
.body input[type="reset"],
input.btn1[type="submit"],
input.btn1[type="button"],
input.btn1[type="reset"],
.add2basketform .add2basket,
.catalogmenu li.first:hover > a,
.catalogmenu li.first.hover > a,
.catalogmenu li.sub:hover > a,
.catalogmenu li.sub.hover > a,
.catalogmenu a.first:hover,
.catalogmenu a.first.hover,
.catalogmenu a.sub:hover,
.catalogmenu a.sub.hover,
#jssor_slider1 .navi .av,
.pmenu a:hover,
#jssor_slider1 .navi div:hover, #jssor_slider1 .navi .av:hover,
.catalogsorter .template a.selected, .catalogsorter .shortsort a.selected,
.catalogsorter .template a:hover, .catalogsorter .shortsort a:hover,
.detailtabs .headers a:hover, .detailtabs .headers a.selected,
.filtren .showchild:hover,
.filtren .lvl1.color .lvl2 label:hover,
.filtren .body li.lvl1 ul.property li.lvl2 label.pic:hover,
.propvision1 .offer_prop .div_options .div_option:hover,
.light .js-element .buy .go2detail,
.catalogsorter .dropdownin a:hover,
.add2basketform .buy1click,
.tline,
.aroundowlslider1 .owl-dots .owl-dot.active,
.aroundowlslider1 .owl-dots .owl-dot:hover,
.aroundjssorslider1 .item.product .text .line span,
.aroundowlslider1 .item.product .text .line span,
.comparelist a:hover,
.orderlist .switch a:hover,
.orderlist .switch a.selected{background-color:#fa6900;}
@media screen and (max-width:480px){html body.adaptive .detailtabs .content.selected .switcher,
html body.adaptive .detailtabs .content .switcher:active{background-color:#fa6900;}
}
a.btn3,
input.btn3[type="submit"],
input.btn3[type="button"],
input.btn3[type="reset"]
.buy1click,
.jspDrag,
.add2basketform .add2basket,
.filtren .modef .data a,
body .buy1click{color:#fff !important;}
.add2basketform .add2basket,
body .buy1click{background-color:#36acd4;}
.catalogmenu a.first:active, .catalogmenu a.first.hover:active, .catalogmenu a.sub:active, .catalogmenu a.sub.hover:active,
.pmenu a.selected:active, .pmenu a:active{background-color:#cdae50 !important;}
.add2basketform .inbasket{background-color:#899CC7;}
#jssor_slider1 .prev span:hover, #jssor_slider1 .prevdn span, #jssor_slider1 .next span:hover, #jssor_slider1 .nextdn span{background-color:#fa6900 !important;}
.ui-slider .ui-slider-range,
.smartfilter .bx_ui_slider_pricebar_V{background-color:#4c6ca5 !important;background-image:linear-gradient(to bottom, #fee47d, #fed963) !important;}