.column1{width:20%;}
.column1{height:80px;float:left;line-height:80px;text-align:center;}
.column1 .column1inner{display:inline-block;line-height:19px;vertical-align:middle;text-align:left;}
.column2{width:25%;float:left;}
.basket.column1,
.favorite.column1,
.phone.column1{text-align:left;}
.logo.column1{text-align:center;}
.phone.column1{width:50%;}
.favorite.column1{width:12%;}
.basket.column1{width:18%;padding-right:0;}

.phone.column1{width:40%;}
body.adaptive .time_work.column1{width:10%;}

@media screen and (max-width:1260px){body.adaptive .callback.column1{display:none;}
}
@media screen and (max-width:1260px) and (min-width:876px){body.adaptive .logo.column1{width:25%;}
body.adaptive .phone.column1{width:25%;}
body.adaptive .favorite.column1{width:15%; padding-left: 5px;}
body.adaptive .basket.column1{width:20%; padding-left: 5px;}
 .time_work.column1{width:12%!important;}

}
@media screen and (max-width:1024px) and (min-width:776px){body.adaptive .pmenu{width:25%;}
body.adaptive .pcontent{width:75%;padding-left:15px;}
}
@media screen and (max-width:885px){}
@media screen and (max-width:875px){body.adaptive .body input[type="text"],body.adaptive .body input[type="password"],body.adaptive .body textarea,body.adaptive .body select,
body.adaptive .footer input[type="text"],body.adaptive .footer input[type="password"],body.adaptive .footer textarea,body.adaptive .footer select,
body.adaptive .fancybox-inner input[type="text"],body.adaptive .fancybox-inner input[type="password"],body.adaptive .fancybox-inner textarea,body.adaptive .fancybox-inner select{box-shadow:none;}
body.adaptive .header .phone a,
body.adaptive .header .phone a:hover{font-size:20px;}
body.adaptive .table .td{display:inline-block;width:auto;}
}
@media screen and (max-width:885px) and (min-width:751px){body.adaptive .logo.column1{width:24%;}
body.adaptive .phone.column1{width:22%;}
body.adaptive .favorite.column1{width:14%;}
body.adaptive .basket.column1{width:20%;}
body.adaptive .phone.column1 .icon{display:none;}
 .time_work.column1{width:14%!important;}
}
@media screen and (max-width:775px) and (min-width:481px){body.adaptive .pmenu{width:30%;}
body.adaptive .pcontent{width:70%;padding-left:15px;}
.time_work{display:none;}
}
@media screen and (max-width:750px){body.adaptive .footer .line1 .contacts{margin-bottom:15px;}
body.adaptive .footer .line1 .block.one .contacts,
body.adaptive .footer .line1 .contacts .feedback{margin-top:0px;}
}
@media screen and (max-width:750px) and (min-width:627px){body.adaptive .logo.column1{width:25%;}
body.adaptive .phone.column1{width:30%;}
body.adaptive .favorite.column1{width:17%;}
body.adaptive .basket.column1{width:28%;}
body.adaptive .column1 .icon{display:none;}
body.adaptive .column1 .title,
body.adaptive .column1 .descr{margin-left:0px;}
}
@media screen and (max-width:750px) and (min-width:481px){body.adaptive h1{font-size:26px;}
body.adaptive h2{font-size:20px;}
body.adaptive h3{font-size:14px;}
body.adaptive h1.pagetitle{font-size:26px;}
body.adaptive .footer .line1 .block.one,
body.adaptive .footer .line1 .block.two,
body.adaptive .footer .line1 .block.three{padding-right:0px;}
body.adaptive .footer .line1 .block.one,
body.adaptive .footer .line1 .block.two{width:100%;}
body.adaptive .footer .line1 .block.three{width:50%;}
body.adaptive .footer .line1 .block.one .contacts .phone1,
body.adaptive .footer .line1 .block.one .contacts .phone2{float:left;width:50%;}
body.adaptive .footer .line1 .block.three{text-align:center;}
}
@media screen and (max-width:626px) and (min-width:481px){body.adaptive .logo.column1{width:30%;}
body.adaptive .phone.column1{display:none;}
body.adaptive .favorite.column1{width:30%;text-align:center;}
body.adaptive .basket.column1{width:40%;}
body.adaptive .column1 .icon{display:none;}
body.adaptive .column1 .title,
body.adaptive .column1 .descr{margin-left:0px;}
}
@media screen and (max-width:605px){body.adaptive .pmenu{margin-bottom:15px;}
body.adaptive .pmenu,
body.adaptive .pcontent{width:100%;padding-left:0px;}
}
@media screen and (max-width:480px) and (min-width:381px){body.adaptive .basket.column1{width:70%;}
}
@media screen and (max-width:480px){body.adaptive h1{font-size:20px;}
body.adaptive h2{font-size:18px;}
body.adaptive h3{font-size:14px;}
body.adaptive h1.pagetitle{font-size:20px;}
body.adaptive .mobile_hide{display:none;}
body.adaptive .header .phone a,
body.adaptive .header .phone a:hover{font-size:16px;}
body.adaptive .authandlocation{float:none;}
body.adaptive .column1{height:50px;line-height:50px;}
body.adaptive .logo.column1{width:36%;height:66px;}
body.adaptive .phone.column1{width:64%;height:66px;}
body.adaptive .favorite.column1{width:30%;}
body.adaptive .header .phone{text-align:right;}
body.adaptive .favorite.column1{text-align:left;}
body.adaptive .footer .line1 .block.one,
body.adaptive .footer .line1 .block.two,
body.adaptive .footer .line1 .block.three{width:100%;padding-right:0px;}
body.adaptive .someform{max-width:500px;}
body.adaptive .fancybox-inner .someform{max-width:250px;}
body.adaptive .someform .line.password .text,
body.adaptive .someform .line.password .btn,
body.adaptive .someform .line.captcha input{width:100%;float:none;}
body.adaptive .someform .line.password .text{margin-bottom:10px;}
body.adaptive .someform .line.captcha img{float:none;margin-bottom:8px;}
body.adaptive .sorter_and_name .name{float:none;}
body.adaptive .sorter_and_name .sorter{float:none;margin-top:10px;}
body.adaptive .sorter_and_name .catalogsorter .template a{float:left;}
.header .logo a img{margin-top:0;}
}
@media screen and (max-width:380px){
	
body.adaptive .favorite.column1{width:100%;}

.rsfavorite{display:none;}
body.adaptive .favorite.column1 .column1inner{width:100%;}
.btn_feed a{
	font-size:20px!important;
	padding:5px;
	display:block;
	font-family: Opensansbold,Arial,Helvetica,sans-serif;
	line-height: 30px;
}


body.adaptive .favorite.column1 .title,
body.adaptive .favorite.column1 .descr{margin-left:0px;}
body.adaptive .column1.basket,
body.adaptive .column1.basket .column1inner{width:100%;}
}