.propvision1 .offer_prop{position:relative;margin-bottom:7px;display:table;}
.propvision1 .offer_prop:last-child{margin-bottom:0;}
.propvision1 .offer_prop .offer_prop-name{font-size:15px;display:table-cell;padding-right:25px;vertical-align:middle;}
.propvision1 .offer_prop .div_select{position:relative;display:table-cell;}
.propvision1 .offer_prop .icon{width:8px;height:4px;margin-left:5px;margin-bottom:2px;background-position:0px 0px;}
.propvision1 .offer_prop .div_selected{display:none!important;}
.propvision1 .offer_prop .div_selected span{color:#214496;border-bottom:1px dashed #000;}
.propvision1 .offer_prop.color .div_selected span{border:none;}
.propvision1 .offer_prop .div_selected span:hover{border-bottom:1px dashed #FFF;}
.propvision1 .offer_prop.closed .div_options{display:none;}
.propvision1 .offer_prop .div_options{position:absolute;left:0;top:100%;min-width:50px;background-color:#FFF;border:1px solid #F2F2F2;z-index:100;}
.propvision1 .offer_prop.color .div_options{display:inline-block;border:none!important;position:relative;top:4px;}
.elementdetail .div_options{top:0!important;left:0!important;}
.elementdetail .div_option{max-width:50px!important;max-height:50px!important;border:1px solid #e2e2e2!important;margin-right:0!important;border-radius:0!important;margin-left:-1px;}
.elementdetail .div_option:first-child{margin-left:0!important;}
.elementdetail .div_option.selected{border:1px solid #54bdd2!important;box-shadow:none!important;position:relative;z-index:9;}
.propvision1 .offer_prop .div_options .div_option{min-width:50px;padding:5px 14px;color:#214496;cursor:pointer;white-space:nowrap;}
.propvision1 .offer_prop.color .div_options .div_option{min-width:0px;padding:0;float:left;max-width:43px;max-height:43px;border-radius:3px;overflow:hidden;margin-right:6px;margin-bottom:6px;border:1px solid #b5b5b5;}
.propvision1 .offer_prop.color .div_options .div_option.selected{border:1px solid #b5b5b5;box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.3);}
.propvision1 .offer_prop .div_options .div_option:hover{background:none!important;}
.propvision1 .offer_prop.color .div_selected span,
.propvision1 .offer_prop.color .div_options .div_option span{display:inline-block;width:15px;height:15px;overflow:visible!important;}
.propvision1 .offer_prop .div_options .div_option:hover span{text-decoration:none;}
.propvision1 .offer_prop .div_options .div_option.selected span{}
.propvision1 .offer_prop.color .div_options .div_option.selected span{}
.prop_option_line_through .propvision1 .offer_prop .div_options .div_option.disabled,
.prop_option_line_through .propvision1 .offer_prop .div_options .div_option.disabled:hover{color:#B3B3B3;cursor:default;text-decoration:line-through;background-color:#FFF;}
.prop_option_line_through .propvision1 .offer_prop.color .div_options .div_option.disabled,
.prop_option_line_through .propvision1 .offer_prop.color .div_options .div_option.disabled:hover,
.prop_option_hide .propvision1 .offer_prop .div_options .div_option.disabled,
.prop_option_hide .propvision1 .offer_prop .div_options .div_option.disabled:hover{display:none;}