/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.image_wrapper_block,
.image_wrapper_block a {
    height: 300px;
    line-height: 300px;
}

#headerfixed .logo-row .logo img,
#headerfixed .logo-row .logo svg {
    width: auto;
}

#headerfixed .logo-row.v2 .logo-block {
    text-align: center;
}

.same_elements {
    display: block;
}
.same_elements h3 {
    font-size: 1.1em;
    margin-bottom: 8px;
}
.same_elements .same-item {
    width: 100px;
    height: 100px;
    border: 1px solid #f2f2f2;
    margin-right: 14px;
    margin-bottom: 14px;
    display: inline-block;
    position: relative;
}
.same_elements .same-item:hover {
    border-color: #0fa8ae;
}
.same_elements .same-item img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.same_elements.same_elements_small .same-item, .same_elements.same_fast_view .same-item {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.type_block {
    padding: 8px;
    cursor: pointer;
}
.captcha-row .captcha_image .captcha_reload {
    display: none;
}
.captcha-row label {
    display: none;
}
.captcha-row .captcha_image {
    height: initial;
}

.start_promo .item {
    width: 33.33%;
    min-height: 300px;
}
.bear-pic {
    position: relative;
    display: inline-block;
}
.HeightBear {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-weight: 900;
    color: #1a99a0;
}
.HeightBearSecond {
    color: #363635;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.HBOne {
    top: 50%;
    right: 12%;
}
.HBTwo {
    bottom: 17%;
    left: 50%;
}
.msng_block {
    margin-top: -15%;
    width: 100%;
    margin-left: 36%;
    padding-bottom: 5%;
}
.msng_block_footer {
    margin-left: 15%;
}