.footer .catmenu{
	margin-bottom:15px;
	min-width: 350px;
}
.footer .catmenu .title{
	margin-bottom:6px;
	text-transform:uppercase;
}
.footer .catmenu{
	max-width: 400px;
}
.footer .catmenu .aroundlevel{
	width:50%;
	float:left;
	padding-right:10px;
	max-width: 170px;
}
.footer .catmenu .item{
	margin:3px 0px;
}
.footer .catmenu .item.depth_level1 a{
	text-decoration:none;
	display: block;
}
.footer .catmenu .item.depth_level1 a:hover,
.footer .catmenu .item.depth_level1 a:hover span{
	text-decoration:none;
}
.footer .catmenu .item.depth_level2 a{
	color:#666;
	font-size:12px;
	text-decoration:none;
}
.footer .catmenu .item.depth_level2 a:hover,
.footer .catmenu .item.depth_level2 a:hover span{
	text-decoration: underline;
}
.footer .catmenu.ellipsisnames .item.depth_level1 a span,
.footer .catmenu.ellipsisnames .item.depth_level2 a span{
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	//zoom:1;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,.2);
	font-family: Opensans,Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 1;
}
.footer .catmenu.ellipsisnames .item.depth_level1 a:hover span,
.footer .catmenu.ellipsisnames .item.depth_level2 a:hover span{
	color: #fa6900;
	border-bottom: 1px solid rgba(247, 105, 2, 0.2);
}


@media screen and (max-width:1010px) and (min-width:751px){
	body.adaptive .footer .catmenu .aroundlevel{

	}
}
@media screen and (max-width:750px) and (min-width:481px){
	body.adaptive .footer .catmenu .aroundlevel{
		
	}
	body.adaptive .footer .catmenu .title{
		text-align:center;
	}
}
