.overlay .inv-to-work {
   text-align: center;
   width: 40%;
   /*width: 100%;*/
   height: auto;
   position: fixed;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #0fa8ae;
   word-wrap: break-word;
   color: #fff;
   line-height: 1.25;
   /*bottom: 0px;
   left: 0px;*/
   transition-property: bottom;
   transition-duration: 2s;
   z-index: 10000;
}
.overlay {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.75);
   z-index: 100000000;
}

.inv-to-work p {
   display: block;
   padding-left: 10%;
   width: 80%;
   margin: 10px;
   font-size: 29px;
}
.inv-to-work.closed {
   display: none;
}
.inv-to-work .name-inv b {
   color: #fff;
}
.inv-to-work .close-button {
	position: absolute;
	right: 0;
   filter: invert(100%);
}
.inv-to-work .close-button img {
	width: 30px;
}
.overlay.closed {
   display: none;
}
@media screen and (max-width: 600px) 
{
.overlay.closed {
   display: none;
}
.overlay .inv-to-work {
   width: 80%;
   line-height: 1.25;
}
.inv-to-work .name-inv b {
      font-size: 12px;
   }
.inv-to-work .mess-inv {
   	font-size: 10px;
   }
.inv-to-work .close-button {
      
      filter: invert(0%);
   }
}
