.authinhead{
	display:inline-block;
	padding-top:13px;
	text-align:right;
}

.authinhead a:first-child{
	margin-right: 18px;
}


.authinhead a{
	font-family:Opensans,Arial,Helvetica,sans-serif;
	text-decoration: none;
	line-height: 1;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.authinhead a:hover {
	text-decoration: none;
	color: #fa6900;
	border-bottom: 1px solid rgba(247, 105, 2, 0.2);
}
.authinhead .logged .icon{
	width:10px;
	height:12px;
	margin-right:3px;
	margin-bottom:3px;
	background-position:0px -12px;
}
.authinhead .guest .icon{
	width:14px;
	height:9px;
	margin-right:5px;
	margin-left:15px;
	margin-bottom:2px;
	background-position:0px -24px;
}

@media screen and (max-width: 480px){
	body.adaptive .authinhead{
		display:block;
		float:right;
	}
}