.inv-to-work {
   text-align: center;
   width: 100%;
   height: auto;
   position: fixed;
   background-color: #0fa8ae;
   word-wrap: break-word;
   color: #fff;
   line-height: 1.25;
   bottom: 0px;
   left: 0px;
   transition-property: bottom;
   transition-duration: 2s;
   z-index: 9999;
}
.inv-to-work p {
   margin: 10px;
}
.inv-to-work.closed {
   display: none;
}
.inv-to-work .name-inv b {
   color: #fff;
}
.inv-to-work .close-button {
	position: absolute;
	right: 0;
   filter: invert(100%);
}
.inv-to-work .close-button img {
	width: 30px;
}
@media screen and (max-width: 600px) 
{
.inv-to-work .name-inv b {
      font-size: 12px;
   }
.inv-to-work .mess-inv {
   	font-size: 10px;
   }
.inv-to-work .close-button {
      bottom: 79px;
      filter: invert(0%);
   }
}
