.tpanel_menu{
	height:48px;
	overflow:hidden;
}
.tpanel_menu a{
	font-family:Opensans,Arial,Helvetica,sans-serif;
	display:block;
	float:left;
	margin-top:16px;
	margin-right:14px;
	text-decoration: none;
	line-height: 1;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.tpanel_menu a:hover {
	text-decoration: none;
	color: #fa6900;
	border-bottom: 1px solid rgba(247, 105, 2, 0.2);
}