.elementdetail{
	width:85%;
	float:left;
	position:relative;
	margin-bottom: 30px;
}


.aside-banner {
	float: right;
	width: 12%;
	padding-left: 3%;
}
.aside-banner a {
	margin-bottom: 15px;
	display: block;
}
.aside-banner a:last-child {
	margin-bottom: 0;
}

.elementdetail .previewtext ,
.elementdetail .properties,
.elementdetail .pictures,
.elementdetail .info{
	float:left;
}

.elementdetail .properties {
	margin-bottom: 28px;
}
.elementdetail .param-txt.size {
	margin-bottom: 14px;
}
.elementdetail .param-txt {
	font-size: 15px;
	margin-bottom: 7px;
}

.elementdetail .pictures{
	width:40%;
}
.elementdetail .previewtext ,
.elementdetail .properties,
.elementdetail .info{
	width:60%;
}

.elementdetail .pic,
.elementdetail .zoom{
	margin-bottom:15px;
}

/* timers */
.elementdetail .pic .timers{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	line-height:18px;
}
.elementdetail .pic .timers .clock{
	float:left;
	padding:14px 6px;
	background-color:#748080;
	-khtml-border-radius:3px 0px 0px 3px;
	-moz-border-radius:3px 0px 0px 3px;
	-webkit-border-radius:3px 0px 0px 3px;
	border-radius:3px 0px 0px 3px;
}
.elementdetail .pic .timers .clock i{
	width:16px;
	height:16px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}
.elementdetail .pic .timers .timer{
	margin:0 auto;
	background-color:#e8e8e8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity:.7;
	-khtml-opacity:.7;
	opacity:.7;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.elementdetail .pic .timers .timer .intimer{
	float:left;
	padding:8px 11px 0px;
}
.elementdetail .pic .timers .timer .val,
.elementdetail .pic .timers .timer .dvoet{
	float:left;
}
.elementdetail .pic .timers .timer .val.ml{
	margin-left:10px;
}
.elementdetail .pic .timers .timer .val .value,
.elementdetail .pic .timers .timer .val .podpis{
	width:100%;
}
.elementdetail .pic .timers .timer .val .value,
.elementdetail .pic .timers .timer .dvoet{
	font:17px Arial,Helvetica,sans-serif;
	font-weight:bold;
	letter-spacing:3px;
}
.elementdetail .pic .timers .timer .podpis{
	font:10px Arial,Helvetica,sans-serif;
}
.elementdetail .pic .timers .timer .progressbar{
	height:4px;
	margin-top:4px;
	background-color:#d4d9de;
	border:1px solid #b8bcc1;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.elementdetail .pic .timers .timer .progressbar .progress{
	position:relative;
	top:-1px;
	left:-1px;
	height:4px;
	background-repeat:repeat-x;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.elementdetail .pic .timers .timer.da2 .progressbar .progress{
	border:1px solid #990060;
}
.elementdetail .pic .timers .timer.qb .progressbar .progress{
	border:1px solid #62a92c;
}
/* /timers */
/* pictures */
.elementdetail .pictures{
	padding-right:25px;
}
.elementdetail .pic{
	position:relative;
	height:350px;
	line-height:350px;
	text-align:center;
}
.elementdetail .pic img{
	max-height:350px;
}
.elementdetail .pic .glass{
	max-width:100%;
	display:inline-block;
	line-height:1.2;
	vertical-align:middle;
}
.elementdetail .zoom{
	text-align:center;
}
.elementdetail .zoom .icon{
	width:15px;
	height:16px;
	margin-right:10px;
	background-position:0 -54px;
}
.picslider{
	position:relative;
}
.picslider .scrollinner a{
	display:block;
	width:90px;
	height:90px;
	padding:5px;
	text-align:center;
	line-height:90px;
	border:1px solid #F2F2F2;
}
.picslider .scrollinner a.selected{
	border:1px solid #0c4da2;
}
.picslider .scrollinner a img{
	display:inline-block;
	line-height:1.2;
	vertical-align:middle;
}
.picslider.horizontal .d_jscrollpane,
.picslider.horizontal .popd_jscrollpane{
	margin-right:47px;
	margin-left:47px;
}
.picslider a.prev,
.picslider a.next,
.elementdetail .prices a.prev,
.elementdetail .prices a.next{
	display:block;
	visibility:hidden;
}
.picslider.jspHasScroll .prev,
.picslider.jspHasScroll .next,
.elementdetail .prices.jspHasScroll .prev,
.elementdetail .prices.jspHasScroll .next{
	visibility:visible;
}
.picslider.horizontal a.prev,
.picslider.horizontal a.next,
.elementdetail .prices a.prev,
.elementdetail .prices a.next{
	position:absolute;
	top:0px;
	z-index:100;
}
.picslider a.page{
	padding:41px 20px;
}
.picslider.horizontal a.prev,
.elementdetail .prices a.prev{
	left:0px;
}
.picslider.horizontal a.next,
.elementdetail .prices a.next{
	right:0px;
}
.picslider.horizontal a.prev .icon,
.picslider.horizontal a.next .icon,
.elementdetail .prices a.prev .icon,
.elementdetail .prices a.next .icon{
	width:7px;
	height:14px;
}
.picslider.horizontal a.prev .icon,
.elementdetail .prices a.prev .icon{
	background-position:0px -531px;
}
.picslider.horizontal a.prev:hover .icon,
.elementdetail .prices a.prev:hover .icon{
	background-position:-21px -531px;
}
.picslider.horizontal a.next .icon,
.elementdetail .prices a.next .icon{
	background-position:0px -545px;
}
.picslider.horizontal a.next:hover .icon,
.elementdetail .prices a.next:hover .icon{
	background-position:-21px -545px;
}
.picslider.horizontal .scrollinner a{
	float:left;
	margin-right:10px;
}
.picslider.horizontal .jspVerticalBar,
.picslider.horizontal .jspHorizontalBar{
	display:none;
}
.picslider.vertical{
	float:right;
	width:240px;
	margin-left:20px;
}
.picslider.vertical .d_jscrollpane,
.picslider.vertical .popd_jscrollpane{
	width:100%;
	height:200px;
	overflow:auto;
}
.picslider.vertical a.pop{
	padding:2px 101px;
}
.picslider.vertical a.prev .icon,
.picslider.vertical a.next .icon{
	width:14px;
	height:7px;
}
.picslider.vertical a.prev .icon{
	background-position:-14px -669px;
}
.picslider.vertical a.prev:hover .icon{
	background-position:-14px -690px;
}
.picslider.vertical a.next .icon{
	background-position:0px -669px;
}
.picslider.vertical a.next:hover .icon{
	background-position:0px -690px;
}
.picslider.vertical a{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.picslider .d_jscrollpane,
.picslider .popd_jscrollpane,
.prices .prs_jscrollpane{
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.picslider .sliderin{
	width:5000px;
	height:110px;
}
.fancyimages  table{
	width:100%;
	height:100%;
}
.fancyimages  table td{
	vertical-align:middle;
	text-align:center;
}
.fancyimages  table td.slider{
	width:260px;
	vertical-align:top;
}
/* share */
.elementdetail .share{
	margin:15px 0px;
}
.elementdetail .share .b-share{
	padding-left:0px!important;
}
/* article and stores */
.elementdetail .article,
.elementdetail .stores{
	float:left;
	width:50%;
	min-height:5px;
}
/* article and stores -> stores */
.elementdetail .articleandstores{
	margin-bottom:10px;
}
.stores{
	text-align:right;
}
.stores .genamount{
	margin-left:5px;
}
.stores .genamount.cantopen{
	cursor:default;
	text-decoration:none;
}
.stores .genamount.cantopen .icon{
	visibility:hidden;
}
.stores .genamount .icon{
	width:8px;
	height:4px;
	margin-left:4px;
	background-position:0px -4px;
}
.popupstores{
	text-align:left;
}
.popupstores table{
	margin-top:5px;
}
.popupstores table td{
	padding:2px 5px;
	border-bottom:1px solid #F2F2F2;
}
.fancybox-inner .popupstores table{
	margin-top:0px;
}
.fancybox-inner .popupstores table td{
	border-bottom:none;
}
.popupstores table td.amount{
	padding-left:50px;
}
.popupstores table td.amount .empty{
	color:#ff0000;
}
.popupstores table td.amount .isset{
	color:#00cc00;
}
/* prices */

.elementdetail .buy{
	float: left;
}
.elementdetail .prices{
	position:relative;
	margin-bottom:15px;
}
.elementdetail .prices a.prev,
.elementdetail .prices a.next{
	padding:0px 0px 31px 0px;
	background-color:#F7F7F7;
}
.elementdetail .prices a.prev span,
.elementdetail .prices a.next span{
	display:block;
	width:30px;
	height:38px;
	margin-bottom:29px;
}
.elementdetail .prices a.prev .icon,
.elementdetail .prices a.next .icon{
	margin:0px 10px;
}
.elementdetail .prices .prs_jscrollpane{
	height:138px;
}
.elementdetail .prices .prs_jscrollpane .jspVerticalBar,
.elementdetail .prices .prs_jscrollpane .jspHorizontalBar{
	display:none;
}
.elementdetail .prices table.wholesale,
.elementdetail .prices table {
	border-radius: 10px;
	overflow: hidden;
	font-size: 15px;
	max-width: 100%;
	width: 230px;
}
.elementdetail .prices table.wholesale {
	width: 380px;
}


.elementdetail .help-text {
	font-size: 12px;
	line-height: 16px;
	margin-top:7px;
}
.elementdetail .prices table th,
.elementdetail .prices table td {
	width:100px;
	text-align:left;
	vertical-align: top;
}
.elementdetail .prices table td{
	padding:0 20px 17px;
	width:100px;
	text-align:left;
}
.elementdetail .prices table td,
.elementdetail .prices a.prev span,
.elementdetail .prices a.next span,
.elementdetail .prices table th{
	background:#f0f0d9;
}

.elementdetail .prices table td .price.old{
	font-size:14px;
}
.elementdetail .prices table td .price{
	font-size:20px;
	font-family: Opensansbold, Arial, Helvetica, sans-serif;
}
.elementdetail .prices table td .price.new{
	font-family:Opensansbold,Arial,Helvetica,sans-serif;
}
.elementdetail .pricestable thead th{
	font-weight:normal;
	padding:10px 20px 5px;
}

.elementdetail .pricestable tbody td:first-child,
.elementdetail .pricestable thead th:first-child{
	border-right: 1px solid #e1e1c5 ;
}

/* /prices */
/* prices -> solo */
.elementdetail .soloprice{
	height:75px;
	margin-bottom:15px;
}
.elementdetail .soloprice td{
	padding:3px 0px;
}
.elementdetail .soloprice .line{
	padding-right:50px;
	border-bottom:1px dotted #CCC;
}
.elementdetail .soloprice .line,
.elementdetail .soloprice .price,
.elementdetail .soloprice .discount{
	height:10px;
}
.elementdetail .soloprice .name{
	position:relative;
	top:-3px;
	background-color:#FFF;
}
.elementdetail .soloprice .price.gen{
	font-size:18px;
}
/* /prices -> solo */
/* properties */
.elementdetail .info .properties{
	margin-bottom:15px;
}
/* add2basket */
.elementdetail .add2basketform .quantitytitle,
.elementdetail .add2basketform .quantity,
.elementdetail .add2basketform .add2basket,
.elementdetail .add2basketform .inbasket,
.elementdetail .add2basketform .go2basket,
.elementdetail .add2basketform .buy1click{
	display:block;
	float:left;
	margin-bottom:15px;
}
.elementdetail .add2basketform.in .add2basket,
.elementdetail .add2basketform .inbasket,
.elementdetail .add2basketform .go2basket,
.elementdetail .add2basketform.in .buy1click{
	display:none;
}
.elementdetail .add2basketform  .quantity,
.elementdetail .add2basketform .add2basket,
.elementdetail .add2basketform .inbasket,
.elementdetail .add2basketform .buy1click,
.elementdetail .add2basketform .go2basket{
	margin-right:15px;
}
.elementdetail .add2basketform .plus,
.elementdetail .add2basketform .minus{

}
.elementdetail .add2basketform .add2basket,
.elementdetail .add2basketform .inbasket{
	/*padding:9px 8px 7px 8px;*/
}
.elementdetail .add2basketform .quantitytitle,
.elementdetail .add2basketform .go2basket{
	padding:11px 0px;
}
.elementdetail .add2basketform .buy1click{
	padding:10px 8px 12px 8px;
}
.elementdetail .add2basketform .add2basket .icon,
.elementdetail .add2basketform .inbasket .icon{
	margin-right:5px;
	margin-left:0px;
}
.elementdetail .add2basketform .add2basket .icon{
	width:23px;
	height:20px;
	margin-bottom:4px;
	background-position:-23px -418px;
}
.elementdetail .add2basketform .inbasket .icon{
	width:16px;
	height:16px;
	margin-top:2px;
	margin-bottom:6px;
	background-position:-16px -597px;
}
/* comapre & favorite */
.elementdetail .threeblock a:hover {
	text-decoration: none;
}
.elementdetail .threeblock a span{

	display: inline-block;
	line-height: 1;
	border-bottom: 1px dotted #979797;


}
.elementdetail .threeblock a {
	height: 40px;
	display: inline-block;
	line-height: 37px;

}
.elementdetail .threeblock{
	margin-bottom:15px;
	display: inline-block;
	font-size: 15px;

}
.elementdetail .compare{
	float:left;
	margin-right:15px;
}
.elementdetail .favoriteandcheaper{
	float:left;
}
.elementdetail .favoriteandcheaper .favorite,
.elementdetail .favoriteandcheaper div.cheaper{
	float:left;
	margin-right:15px;
}
.elementdetail .favoriteandcheaper .favorite .icon,
.elementdetail .favoriteandcheaper .cheaper .icon{
	margin-right:5px;
	margin-bottom:2px;
}
.elementdetail .favoriteandcheaper .favorite .icon{
	width:13px;
	height:13px;
	background-position:0px -255px;
}
.elementdetail .favoriteandcheaper .favorite .add2favorite.in .icon{
	background-position:-13px -255px;
}
.elementdetail .favoriteandcheaper .cheaper .icon{
	width:24px;
	height:20px;
	background-position:0 -483px;
}
/* mods */
.mods h3.title2,
.bigdata h3.title2{
	float:left;
	color:#ee8131;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
}
.mods .catalogsorter,
.bigdata .catalogsorter{
	position:relative;
	top:-5px;
	float:right;
	margin-bottom:10px;
}
/* /mods */
/* tabs */
.detailtabs {
	padding-bottom:15px;
	/*border-bottom:1px solid #F3F3F3;*/
}
.detailtabs.aside {
	float: left;
	width: 60%;
}
.detailtabs.anchor .content{
	margin-bottom:20px;
}
.detailtabs.tabs .content .contentbody,
.detailtabs .content .switcher{
	display:none;
}
.detailtabs .content.selected .contentbody,
.detailtabs .content.selected .switcher{
	display:block;
}
.detailtabs .headers{
	padding:12px 10px;
	background-color:#F3F3F3;
}
.detailtabs .headers a{
	display:block;
	float:left;
	padding:5px 8px;
	margin-right:10px;
	text-decoration:none;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.detailtabs .headers a:hover,
.detailtabs .headers a.selected{
	color:#FFF;
	background-color:#EE8131;
}
.detailtabs .headers a.selected:hover{
	text-decoration:underline;
}
.detailtabs .headers a:active,
.detailtabs .headers a.selected:active{
	color:#FFF;
	background-color:#d36f25;
}
.detailtabs .contents{
	/*overflow:hidden;*/
}
.detailtabs .contents .contentinner{
	padding:12px 10px;
}
.detailtabs .contents .content.review{
	position:relative;
}
.detailtabs .contents .content.review .contentinner{
	padding:12px 24px 0px 24px;
}
.detailtabs .contents .content .switcher{
	padding:12px 10px 0px 10px;
	line-height:34px;
	font-size:24px;
	color:#EE8131;
	margin-bottom:8px;
}
.detailtabs .contents .content.review .switcher{
	margin-bottom:0px;
}
/* tabs -> docs */
.detailtabs .contents .content.files .docs{
	width:33%;
	display:block;
	float:left;
	padding:8px 15px 8px 0px;
}
.detailtabs .contents .content.files a.docs .icon{
	display:block;
	float:left;
	width:44px;
	height:47px;
	background-position:0px -834px;
}
.detailtabs .contents .content.files a.docs .icon.word{
	height:45px;
	margin-bottom:2px;
	background-position:0px -744px;
}
.detailtabs .contents .content.files a.docs .icon.excel{
	height:45px;
	margin-bottom:2px;
	background-position:0px -789px;
}
.detailtabs .contents .content.files a.docs .icon.pdf{
	background-position:0px -697px;
}
.detailtabs .contents .content.files a.docs span{
	display:block;
	margin-left:50px;
}
.detailtabs .contents .content.files a.docs .description{
	color:#000;
}
.detailtabs .contents .content.files a.docs .size{
	color:#999;
	font-size:11px;
}
.detailtabs .contents .content.files .separator.x3{
	width:100%;
	float:left;
	display:block;
}
.detailtabs .contents .content a.docs:hover .name{
	text-decoration:underline;
}
.detailtabs .contents .content a.docs:hover,
.detailtabs .contents .content a.docs:hover .size,
.detailtabs .contents .content a.docs .size:hover{
	text-decoration:none;
}

.detailtabs,
.mods,
.bigdata{
	margin-top:50px;
}

#detailtext table{
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}
#detailtext table,
#detailtext td {
	margin: auto;
	padding: 1px;
	border: 1px solid gray;
}

@media screen and (max-width: 1260px){
	body.adaptive .elementdetail{
		width:100%;
	}
	body.adaptive .aside-banner{
		display: none;
	}
	body.adaptive .rrr{
		display:none;
	}
	body.adaptive .elementdetail .article,
	body.adaptive .elementdetail .stores{
		width:100%;
		float:none;
		text-align:left;
	}
	body.adaptive .elementdetail .stores{
		margin-top:5px;
	}
}
@media screen and (max-width:605px){
	body.adaptive .elementdetail .pictures,
	body.adaptive .elementdetail .info{
		width:100%;
		float:none;
		padding-right:0px;
	}
	body.adaptive .elementdetail .info{
		margin-top:15px;
		padding-top:25px;
		border-top:1px solid #F3F3F3;
	}
	body.adaptive .detailtabs .contents .content.files .docs{
		width:50%;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x3{
		display:inline;
		width:0px;
		float:none;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x2{
		display:block;
		width:100%;
		float:left;
	}
}
@media screen and (max-width:480px){
	body.adaptive .elementdetail .compare,
	body.adaptive .elementdetail .favoriteandcheaper,
	body.adaptive .elementdetail .favoriteandcheaper .favorite,
	body.adaptive .elementdetail .favoriteandcheaper div.cheaper{
		width:100%;
		float:none;
		margin-top:8px;
	}
	body.adaptive .elementdetail .soloprice .line{
		padding-right:20px;
	}
	body.adaptive .elementdetail .buy{
		margin-bottom:5px;
	}
	body.adaptive .elementdetail .threeblock{
		border-top:1px solid #F3F3F3;
	}
	body.adaptive .detailtabs,
	body.adaptive .mods,
	body.adaptive .bigdata{
		margin-top:25px;
	}
	body.adaptive .detailtabs .headers{
		display:none;
	}
	body.adaptive .detailtabs .content{
		margin-top:15px;
	}
	body.adaptive .detailtabs .content .switcher{
		display:block;
		padding:5px 14px;
		font-size:13px;
		background-color:#F3F3F3;
	}
	body.adaptive .detailtabs .content.selected .switcher{
		color:#fff;
		background-color:#EE8131;
	}
	body.adaptive .detailtabs .content .switcher:active,
	body.adaptive .detailtabs .content.selected .switcher:active{
		color:#fff;
		background-color:#d36f25;
	}
	body.adaptive .detailtabs .content .contentinner{
		padding:5px 14px;
	}
	body.adaptive .detailtabs .contents .content.files .docs{
		width:100%;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x3{
		display:inline;
		width:0px;
		float:none;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x1{
		display:block;
		width:100%;
		float:left;
	}
}