.dotted {
	border-bottom: 1px dashed #222222;
}
.icon-geo {
	width: 32px;
	height: 32px;
}
.list-region {
	background-color: #fff;
	position: fixed;
	top: 30%;
	left: 25%;
	width: 800px;
	height: auto;
	max-height: 400px;
	z-index: 999999999999;
	box-shadow: 0px 0px 10px #000;
}
.list-region ul{
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 20px!important;
	max-height: 340px;
	overflow: auto;
}
.list-region .all-region li {
	list-style-type: none;
	display: inline-flex;
	width: 30%;
	content: none;
}
.list-region .all-region li:before {
	content: none;
}
.list-region h4 {

	margin: 10px 0 0 10px;
	padding: 0;
}
.select-region .content-region {
	position: absolute;
	z-index: 99999999;
    width:15%;
    padding: 5px 10px 10px;
    height: auto;
    background-color: #fff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.open-list-region {
	background-color: #34a0a6;
	color:#fff;
	border:1px solid #34a0a6;
	border-radius: 5px;
}
.confirm-region {
	background-color: #34a0a6;
	color:#fff;
	border:1px solid #34a0a6;
	border-radius: 5px;
}
.hidden {
	display: none;
}
.your-region {
	display: inline-block;
	width: 60%;
	word-wrap: break-word;
}