.rsfavorite{
	text-align:left;
}
.rsfavorite a {

}
.rsfavorite a,
.rsfavorite a:hover{
	display:block;
	color:#000;
	text-decoration:none;
}
.rsfavorite a .title{
	font-size:13px;
	line-height: 1;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.rsfavorite a:hover .title{
	text-decoration:none;
	color: #f96901;
	border-bottom: 1px solid  rgba(247, 105, 2, 0.2);
}

.rsfavorite .icon{
	display:block;
	float:left;
	margin-top:3px;
	margin-right:10px;
	width: 26px;
	height: 22px;
	background-position: -1px -55px;
}
.rsfavorite a:hover .icon{
	background-position: -1px -79px;
}
.rsfavorite .descr{
	font-size: 11px;
	line-height: 16px;
	margin-top: 2px;
}
.rsfavorite .title,
.rsfavorite .descr{
	margin-left:36px;
}