/* search form */
.searchinhead{
	min-height:40px;
	margin-left:250px;
	border:1px solid #e6e6e6;
	border-bottom: none;
	border-top-right-radius: 10px;
}
.db_inner .searchinhead {
	border-bottom: 1px solid #e6e6e6;
}
.searchinhead form{
	width:100%;
	overflow:hidden;
}
.searchinhead form:hover .loop{
	background-position: -6px -175px;
}

.searchinhead .loop{
	display:block;
	float:left;
	width:15px;
	height:15px;
	background-position: -5px -156px;
	top: 12px;
	left: 10px;
	position: relative;
}
.searchinhead .aroundtext{
	margin-left:30px;
}
.searchinhead .aroundtext .text{
	display:block;
	width:100%;
	padding:10px 5px 11px 0;
	background:transparent;
	border:none;
	box-shadow:none;
}

.searchinhead .text:-moz-placeholder {
	font-size: 13px;
	color: #a6a6a6;
	font-family: Opensans, Arial, Helvetica, sans-serif;
	opacity: 1
}

.searchinhead .text::-moz-placeholder {
	font-size: 13px;
	color: #a6a6a6;
	font-family: Opensans, Arial, Helvetica, sans-serif;
	opacity: 1
}

.searchinhead .text:-ms-input-placeholder {
	font-size: 13px;
	color: #a6a6a6;
	font-family: Opensans, Arial, Helvetica, sans-serif;
}

.searchinhead .text::-webkit-input-placeholder {
	font-size: 13px;
	color: #a6a6a6;
	font-family: Opensans, Arial, Helvetica, sans-serif;
}

.searchinhead .text.placeholder {
	font-size: 13px;
	color: #a6a6a6;
	font-family: Opensans, Arial, Helvetica, sans-serif;
}
.searchinhead .aroundtext .text:focus{
	border:none;
}

/* search.title -> results */
.title-search-result{
	display:none;
	margin-top:-3px;
	padding-right:1px;
	border-collapse:collapse;
	border:none;
	background-color:#fff;
	overflow:hidden;
	z-index:205;
}
.stitle{
	padding:15px 0px;
	text-align:left;
	background-color:#fff;
	border:1px solid #F2F2F2;
}
.stitle .title{
	margin:20px 20px 0px 20px;
	padding-bottom:8px;
	color:#ee8131;
	border-bottom:1px solid #F2F2F2;
}
.stitle .title.first{
	margin-top:0px;
}
.stitle .iblock .item{
	display:block;
	padding:6px 20px;
}
.stitle .iblock .item:hover{
	color:#fff;
	background-color:#899CC7;
}
/* simple items */

/* products */
.stitle .iblock .catitem .inner{
	background:url('img/dashed1.png') 0px bottom repeat;
}
.stitle .iblock .catitem:hover  .inner{
	background:url('img/dashed2.png') 0px bottom repeat;
}
.stitle .iblock .catitem .pic{
	display:inline-block;
	width:22px;
	margin-right:10px;
	text-align:center;
}
.stitle .iblock .catitem img{
	margin-bottom:1px;
}
.stitle.twolines .iblock .catitem .inner{
	background:none;
}
.stitle.twolines .iblock .catitem .name{
	margin-right:5px;
}
.stitle.twolines .iblock .catitem .pic{
	margin-right:5px;
}
.stitle.twolines .iblock .catitem .prs{
	float:left;
}
.stitle .iblock .catitem .name,
.stitle .iblock .catitem .prs{
	display:block;
}
.stitle .iblock .catitem .name,
.stitle .iblock .catitem .prs{
	position:relative;
	background-color:#fff;
}
.stitle .iblock .catitem:hover .name,
.stitle .iblock .catitem:hover .prs{
	background-color:#899CC7;
}
.stitle .iblock .catitem .name{
	float:left;
}
.stitle .iblock .catitem .name{
	padding-right:2px;
}
.stitle .iblock .catitem .prs{
	float:right;
	padding-left:2px;
	color:#000;
}
.stitle .iblock .catitem:hover .prs{
	color:#fff;
}

@media screen and (max-width:605px){
	body.adaptive .searchinhead{
		margin-top:5px;
		margin-left:0px;
	}
}